$header-height = 40px

#header
  background-color: #fff
  height: $header-height
  padding: $heading-padding-vertical 60px
  position: relative
  z-index: 2

body.docs
  #header
    position: fixed
    width: 100%
    top: 0
  #nav
    position: fixed


#nav
  z-index: 50
  list-style-type: none
  margin: 0
  padding: 0
  position: absolute
  right: 30px
  top: $heading-padding-vertical
  height: $header-height
  line-height: $header-height
  .break
    display: none
  li
    display: inline-block
    position: relative
    margin: 0 .6em

  .nav-dropdown
    .nav-link
      &:hover, &.current
        border-bottom: none
      &.current
        &::after
          content: ""
          width: 0
          height: 0
          border-left: 5px solid $link1
          border-top: 3px solid transparent
          border-bottom: 3px solid transparent
          position: absolute
          top: 50%
          margin-top: -4px
          left: 8px

.nav-link
  padding-bottom: 3px
  &:hover, &.current
    border-bottom: 3px solid $link1
  &.team
    margin-left: 10px

.new-label
  position: absolute
  top: 3px
  left: 110%
  background-color: $link1
  color: #fff
  line-height: 16px
  height: 16px
  font-size: 9px
  font-weight: bold
  font-family: $code-font
  padding: 1px 4px 0 6px
  border-radius: 4px

#header-logo
  display: flex
  align-items: flex-end
  font-size: 1.5em
  color: $dark
  font-family: $logo-font
  font-weight: 500
  padding-top: 4px
  .logo-img
    max-width: 150px
  .sub-domain
    font-size: 14px
    font-style: italic
    opacity: .7
    line-height: 1
    .home
      opacity: 0
      transition: all .5s
    &:hover
      .home
        margin-left: 5px
        opacity: .7
  svg
    vertical-align: middle
    margin-right: 6px
    width: 100px

#mobile-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 40px
  background-color: #fff
  z-index: 9
  display: none
  box-shadow: 0 0 2px rgba(0,0,0,.25)
  .menu-button
    position: absolute
    width: 24px
    height: 24px
    top: 8px
    left: 12px
    background: url(../images/menu.png) center center no-repeat
    background-size: 24px
  .main-logo
    position: absolute
    width: 100px
    height: 30px
    top: 8px
    left: 50%
    margin-left: -52px
    background-size: 30px
  .sub-domain-info
    position: absolute;
    right: 11px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.7;
    max-width: 50px;
    line-height: 1;
    text-align: right;

    &:hover, &:active
      color: #ff0076
      opacity: 1