.loader-wrap
  display: none
  &.show
    display: block
 
.loader-showbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loader {
  position: relative;
  margin: 0 auto;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;

  stroke-linecap: round;
}

.path {
  animation: dash 1s ease-in-out infinite, multicolor 3s ease-in-out infinite;
}

.lightcolor .path {
  animation: dash 1s ease-in-out infinite, lightcolor 3s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes multicolor {
  0%,
  100% {
    stroke: #ff0076;
  }
  40% {
    stroke: #ff0076;
  }
  50% {
    stroke: #0496ff;
  }
  80%,
  90% {
    stroke: #0496ff;
  }
}
@keyframes lightcolor {
  0%,
  100% {
    stroke: rgba(255, 255, 255, 1);
  }
  40% {
    stroke: rgba(255, 255, 255, 1);
  }
  66% {
    stroke: rgba(255, 255, 255, 1);
  }
  80%,
  90% {
    stroke: rgba(255, 255, 255, 1);
  }
}