@import "_settings"

#search-form, 
.search-query
  width: 15em
  max-width: 100%

#search-form
  display: flex

.search-query
  cursor: pointer
  font-size: inherit
  height: 2.5em
  line-height: 2.5em
  box-sizing: border-box
  padding: 0 1em 0 2.8em
  border: 1px solid #ddd
  color: $dark
  outline: none
  border-radius: 2em
  margin-right: 1em
  transition: border-color .2s ease
  background: #f7f7f7 url(../images/search.png) .5em .25em no-repeat
  background-size: 2em
  vertical-align: middle !important
  transition: opacity .3s
  opacity: 1
  &:active
    border-color: $link1

body.show-search #header .search-query{
  opacity: 0
}
.close-search
  color: rgba(0,0,0,.6)
  border-radius: 2em
  margin-left: -3.5em
  width: 2.5em
  height: 2.5em
  font-weight: 600
  line-height: 2.5em
  text-align: center
  &:hover, &:active
    color: #ff0076
    cursor: pointer

.search-results
  display: none
  margin: 0 auto
  &.show
    display: block
    
.search-results-container{
  max-width: 600px
  margin: 60px auto
}
  
.search-in{
  display: flex;
  align-items: left
  padding: 1em;
  font-size: 1.4em;
  justify-content: center
  .search-query{
    
  }
  
}

.the-results{
  padding: 2em 1em 1em;
  .no-result{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600
    opacity: .5
  }
  a{
    font-size: 1em;
    padding: 1em;
    display: block;
    border-bottom: 1px solid #eee
    transition: padding .3s
    &:hover{
      padding-left: 1.3em
    }
    em{
      color: #ff0076
      font-style: normal
      font-weight: 600
    }
    &:hover{
      opacity: .8
    }
    .title{
      font-size: 1.6em
    }
    .exc{
      opacity: .6
     
    }
  }
}
