<div class="main-sponsor">
        <span>The best way to find housing</span><br>
        <a href="https://www.fiction.com" class="logo">
          <img src="<%- url_for("/images/ad.jpg") %>">
        </a>
      </div>
      <!-- <a class="become-backer" href="https://www.fiction.com">
        Sign Up
      </a> -->