<div id="archive">
  <div class="inner fi-row">

    <% page.posts.each(function(post){ %>
      <div class="archive-post">
        <h2 class><a href="<%- url_for(post.path) %>"><%- post.title %></a></h2>
        <p class="archive-post-excerpt">
         <%- post.excerpt %>
     
        </p>
      </div>
    <% }) %>
    
    <% if (page.total > 1){ %>
      <nav id="page-nav">
        <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
        <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
      </nav>
    <% } %>

  </div>
</div>
