<div class="loader-wrap">
<div class="showbox" style="height: auto;">
  <div class="loader" style="width: 3em;">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="30"/>
      </svg>
  </div>
</div>
</div>