  <a class="mark" href="https://www.fiction.com">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 447.02 446.92"><title>Untitled-1</title><path d="M412,473.81H218.54A46.62,46.62,0,0,1,185.29,460L37.83,312.56a38.82,38.82,0,0,1,27.44-66.27H245.93V65.61a38.7,38.7,0,0,1,23.94-35.82,39.25,39.25,0,0,1,42.33,8.38l147.5,147.5a46.8,46.8,0,0,1,13.76,33.25V412.38A61.5,61.5,0,0,1,412,473.81ZM226.62,407.35H407V227L312.4,132.36V312.75H132Z" transform="translate(-26.44 -26.88)"/></svg>
  </a>