

<form id="search-form">
  <input type="text" id="search-query-<%- context %>" class="search-query search-field-<%- context %> st-default-search-input" placeholder="Search">
 <% if(context === 'search') { %>
 <a class="close-search"><i class="fa fa-remove"></i></a>
 <% } %>
</form>
