<div class="search-results hidden">
  <div class="search-results-container">
    <div class="search-in">
      <%- partial('partials/searchfield', { context: 'search' }) %>
    </div>
    <div class="the-results">
     <%- partial('partials/loader') %>
    </div>
  </div>
</div>